.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: hsl(44, 69%, 68%);
  width: auto;
  height: 100%;
}
.Img-Container {
  
  width: 85vw;
  height: 85vh;
  background: url("https://www.vets4pets.com/siteassets/species/dog/large-dog-on-walk-looking-over-hills.jpg?w=585&scale=down") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
h1, h2 , h3 , p {
  margin: 0;
}

p{
  font-size: 20px;
}

.DogCard {
  margin: 5px;
  border-style: dashed;
  border-width: 5px;
  border-radius: 15%;
  border-color: hsl(44, 55%, 43%);
}

.DogCard img {
  max-width: 250px;
  max-height: 250px;
}


.Detail img {
  max-width: 70%;
  max-height: 70%;

}

.Detail{
  width: auto;
  height: auto;
}

.card-grid , .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.grid-item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

ul {
  list-style-type: none;
}

/* .CreateDog{
  display: grid;
  grid-template-columns: repeat(10 , 10% [col-start]);
  grid-template-rows: repeat(5 , auto [row-start]);
} */

.CreateDog img{
  /* clip-path: ellipse(28% 43% at 76% 56%); */
  clip-path: ellipse(20% 51% at 70% 55%);
}

.error{
  color: rgb(223, 51, 8);
  font-style: italic;
}

.create-dog.link-button{
  grid-column-start: 1;
  grid-row-start: 2;
}
